Repository apache/horaedb, pull requests merged in 2022-08, with the labels that each got.

#140 feat: Simplify SQL syntax that specifies timestamp key column
  sql/src/parser.rs
  tests/cases/local/05_ddl/create_tables.result
  tests/cases/local/05_ddl/create_tables.sql
Labels: A-SQL

#157 refactor: volatile implementation for catalog
  catalog/src/schema.rs
  catalog_impls/src/lib.rs
  catalog_impls/src/volatile.rs
Labels: enhancement, A-cluster

#166 feat: persist `AlterSchema` and `AlterOptions` to data WAL
  analytic_engine/src/instance/alter.rs
  analytic_engine/src/instance/engine.rs
  analytic_engine/src/instance/open.rs
  analytic_engine/src/meta/meta_update.rs
  analytic_engine/src/payload.rs
Labels: enhancement, A-analytic-engine

#185 feat: write hybrid storage format
  analytic_engine/src/sst/parquet/builder.rs
  analytic_engine/src/sst/parquet/encoding.rs
  analytic_engine/src/sst/parquet/hybrid.rs
  analytic_engine/src/sst/parquet/mod.rs
  analytic_engine/src/sst/parquet/reader.rs
  analytic_engine/src/sst/reader.rs
  common_types/src/datum.rs
  common_types/src/record_batch.rs
  common_types/src/schema.rs
Labels: A-analytic-engine

#209 refactor: build Payload in encode_batch for LogBatchEncoder
  analytic_engine/src/instance/alter.rs
  analytic_engine/src/instance/write.rs
  analytic_engine/src/meta/details.rs
  analytic_engine/src/payload.rs
  benchmarks/src/util.rs
  benchmarks/src/wal_write_bench.rs
  wal/src/kv_encoder.rs
  wal/src/table_kv_impl/namespace.rs
  wal/src/tests/util.rs
Labels: enhancement, A-analytic-engine

#205 refactor: remove old meta_client crate
  Cargo.lock
  Cargo.toml
  cluster/Cargo.toml
  cluster/src/cluster_impl.rs
  cluster/src/config.rs
  cluster/src/lib.rs
  cluster/src/table_manager.rs
  common_types/src/lib.rs
  common_types/src/schema.rs
  common_types/src/table.rs
  docs/guides/src/dev/crate-deps.dot
  docs/guides/src/dev/crate-deps.svg
  meta_client/Cargo.toml
  meta_client/src/lib.rs
  meta_client/src/meta_impl.rs
  meta_client/src/static_client.rs
  meta_client/src/types.rs
  meta_client_v2/Cargo.toml
  meta_client_v2/src/lib.rs
  meta_client_v2/src/load_balance.rs
  server/src/config.rs
  server/src/grpc/mod.rs
  server/src/grpc/route.rs
  server/src/lib.rs
  server/src/mysql/writer.rs
  server/src/route/cluster_based.rs
  server/src/route/mod.rs
  server/src/route/rule_based.rs
  server/src/schema_config_provider/cluster_based.rs
  server/src/schema_config_provider/config_based.rs
  server/src/schema_config_provider/mod.rs
  server/src/server.rs
  src/adapter.rs
  src/bin/ceresdb-server.rs
  src/setup.rs
Labels: A-cluster, Breaking Change

#188 feat: `RoleTable` trait and `LeaderTable` implementation
  analytic_engine/src/instance/alter.rs
  analytic_engine/src/instance/flush_compaction.rs
  analytic_engine/src/instance/mod.rs
  analytic_engine/src/instance/open.rs
  analytic_engine/src/instance/write.rs
  analytic_engine/src/instance/write_worker.rs
  analytic_engine/src/lib.rs
  analytic_engine/src/role_table/leader.rs
  analytic_engine/src/role_table/mod.rs
  analytic_engine/src/table/mod.rs
Labels: A-analytic-engine

#179 feat: `WalReplicator` skeleton implementation
  analytic_engine/Cargo.toml
  analytic_engine/src/instance/mod.rs
  analytic_engine/src/instance/open.rs
  analytic_engine/src/lib.rs
  analytic_engine/src/wal_synchronizer.rs
  wal/Cargo.toml
  wal/src/lib.rs
  wal/src/tests/mod.rs
Labels: A-analytic-engine, A-cluster

#215 feat: support route in cluster mode
  catalog/src/schema.rs
  catalog_impls/src/volatile.rs
  cluster/src/cluster_impl.rs
  cluster/src/config.rs
  cluster/src/lib.rs
  cluster/src/table_manager.rs
  cluster/src/topology.rs
  common_types/src/schema.rs
  common_types/src/table.rs
  meta_client/src/types.rs
  query_engine/src/logical_optimizer/type_conversion.rs
  server/src/config.rs
  server/src/grpc/mod.rs
  server/src/grpc/route.rs
  server/src/route/cluster_based.rs
  server/src/route/mod.rs
  server/src/route/rule_based.rs
  server/src/schema_config_provider/cluster_based.rs
  server/src/schema_config_provider/config_based.rs
  server/src/schema_config_provider/mod.rs
Labels: enhancement, A-cluster

#167 refactor: replace ColumnOption::DialectSpecific with ColumnOption::Comment
  sql/src/parser.rs
  tests/cases/local/05_ddl/create_tables.result
  tests/cases/local/05_ddl/create_tables.sql
Labels: A-SQL

#222 docs: improve options section
  docs/guides/src/analytic_engine/options.md
Labels: documentation, A-analytic-engine
